.container {
  min-width: 1305px;
  font-family: Roboto;
  padding-top: 10px;
  padding-left: 10px;
}

.title {
  font-family: "Roboto Slab";
  font-size: 55px;
  line-height: 55px;
}

/*  ----------------------------- */

.header {
  margin-bottom: 170px; 
}

.header__logo {
  margin-bottom: 100px;
}

.header__information {
  margin-bottom: 30px;
}
.header__information-element {
  display: inline;
  font-size: 20px;
  padding-right: 25px;
}

.header__title {
  max-width: 630px;
  font-size: 80px;
  margin-bottom: 50px;
}

.header__description {
  max-width: 415px;
  font-size: 20px;
  line-height: 30px;
}

.header__image-producer {
  position: absolute;
  right: 20px;
  margin-top: -300px;
}

.header__comment {
  position: relative;
  right: -30%;
  max-width: 485px;
  min-height: 200px;
  font-family:  "Roboto Slab";
  font-size: 25px;
  line-height: 32px;
  color: #fff;
  background-color: #1E4681;
  border-radius: 5px;
  padding: 20px 25px 20px 25px;
  margin-top: 105px;
}

.header__comment span {
  position: absolute;
  right: 25px;
  font-family: Roboto;
  font-size: 20px;
  line-height: 26px;
  padding-top: 65px;
}

.about {
  margin-bottom: 180px;
}

.about__title {
  margin-bottom: 20px;
}

.about__description {
  max-width: 665px;
  font-size: 24px;
  line-height: 36px;
  margin-bottom: 90px;
}

.about__description p:first-child {
  padding-bottom: 50px;
}

.about__image-cameraman {
  position: absolute;
  right: 20px;
  margin-top: -570px;
}

.about__information-table,
.about__inTable-element {
  display: inline-block;
}

.about__information-table {
  float: right;
  margin-top: 75px;
}

.about__inTable-element {
  max-width: 145px;
  padding-right: 95px;
}

.about__inTable-element h3 {
  font-size: 25px;
  line-height: 32px;
}

.about__inTable-element p {
  font-size: 18px;
  line-height: 23px;
}

.format {
  margin-bottom: 180px;
}

.format__title {
  margin-bottom: 90px;
}

.format__information-table,
.format__inTable-element {
  display: inline-block;
}

.format__information-table {
  max-width: 1075px;
}

.format__inTable-element:first-child {
  max-width: 220px;
  padding-right: 115px;
}

.format__inTable-element:nth-child(2) {
  max-width: 270px;
  padding-right: 115px;
}

.format__inTable-element:last-child {
  max-width: 240px;
}

.format__inTable-element h3 {
  font-size: 25px;
  line-height: 32px;
  color: #1E4681;
}

.format__inTable-element p {
  font-size: 18px;
  line-height: 23px;
}

.learn {
  margin-bottom: 180px;
}

.learn__title {
  margin-bottom: 20px
}

.learn__list {
  list-style: none;
}

.learn__list-item {
  font-size: 24px;
  line-height: 36px;
  padding-left: 5px;
}

.learn__list-item::before {
  content: "";
  float: left;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background-color: #000;
  margin-top: 13px;
  margin-right: 10px;
}

.program {
  margin-bottom: 180px;
  padding-right: 10px;
}

.program__title {
  margin-bottom: 95px;
}

.program__box {
  display: grid;
  min-width: 1300px;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 35px;
}

.program__box-element {
  min-width: 400px;
  min-height: 330px;
  box-shadow: 1px 1px 15px rgba(0, 0, 0, 0.25);
  border-radius: 30px;
} 

.program__box-element-header {
  min-height: 155px;
  margin-bottom: 10px;
}

.program__box-element-description {
  min-width: 365px;
  font-size: 25px;
  line-height: 32px;
  padding: 0 15px 25px 20px;
}

.program__box-element-description h3 {
  font-size: 30px;
  line-height: 40px;
  margin-bottom: 30px;
}

.comment {
  min-height: 780px;
  background-color: #EFEFEF;
}

.comment__title {
  padding-top: 90px;
  margin-bottom: 35px;
}

.comment__content {
  max-width: 790px;
  min-height: 450px;
  max-height: 450px;
  font-size: 20px;
  line-height: 30px;
  background-color: #fff;
  box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.25);
  border-radius: 30px;
  padding: 40px 45px 0 45px;
}

.comment__content p {
  margin-bottom: 100px;
}

.comment__autor {
  display: inline-block;
  position: relative;
  top: -40px;
}

.comment__autor-name {
  font-family: "Roboto Slab";
  font-size: 30px;
  line-height: 30px;
  margin-bottom: 10px;
}

.start {
  background-color: #9DC9C8;
  padding-top: 180px;
  padding-bottom: 50px;
}

.start__title {
  padding-bottom: 55px;
}

.start__price {
  font-size: 25px;
  line-height: 25px;
  padding-bottom: 75px;
}

.start__price span {
  display: block;
  font-size: 80px;
  line-height: 81px;
  padding-top: 15px;
  padding-bottom: 25px;
}

.start__info {
  min-width: 685px;
}

.start__info-element {
  display: inline-block;
  max-width: 300px;
  padding-right: 70px;
}

.start__info-element h3 {
  font-size: 25px;
  line-height: 25px;
  padding-bottom: 10px;
}

.start__info-element p {
  font-size: 18px;
  line-height: 18px;
}

.footer {
  position: relative;
  min-height: 335px;
  background-color: #000;
  color: #fff;
  padding-top: 55px;
  padding-right: 10px;
}

.footer__contacts {
  float: right;
  font-size: 25px;
  line-height: 25px;
}

.footer__contacts a {
  color: #fff;
  text-decoration: none;
}

.footer__contacts .phone {
  padding-bottom: 5px;
}

.footer__social {
  margin-top: 30px;
}
.footer__social-elem {
  padding-right: 20px;
}

.copyright {
  position: absolute;
  bottom: 10px;
  font-size: 18px;
  line-height: 18px;
}

@media (max-width: 835px) {
  .container {
    min-width: 835px;
  }

  .title {
    font-size: 32px;
    line-height: 32px;
  }

  .header {
    max-width: 620px;
    max-height: 450px;
    padding-bottom: 60px;
  }

  .header__logo {
    width: 65px;
    height: 40px;
  }

  .header__information-element {
    font-size: 12px;
    padding-right: 25px;
  }

  .header__information-element img {
    width: 12px;
    height: 12px;
  }

  .header__title {
    max-width: 365px;
    font-size: 46px;
    margin-bottom: 10px;
  }

  .header__description {
    max-width: 265px;
    font-size: 12px;
    line-height: 18px;
    margin-bottom: -30px;
  }
  
  .header__image-producer {
    position: static;
    width: 175px;
    height: 205px;
    margin-left: 660px;
    margin-bottom: -25px;
  }

  .header__comment {
    max-width: 280px;
    min-height: 115px;
    font-size: 14px;
    line-height: 18px;
  }

  .header__comment p {
    max-width: 250px;
    padding: 10px 15px 40px 15px;
  }

  .header__comment span {
    position: static; 
    float: right;
    font-size: 12px;
    line-height: 15px;
    padding-top: 0px;
  }

  .about {
    margin-bottom: 95px;
  }

  .about__title {
    margin-bottom: 10px;
  }

  .about__description {
    max-width: 385px;
    min-height: 215px;
    font-size: 14px;
    line-height: 21px;
  }

  .about__description p:first-child {
    margin-bottom: -25px;
  }

  .about__image-cameraman {
    position: static;
    width: 180px;
    height: 180px;
    margin-left: 660px;
    margin-bottom: 150px;
  }

  .about__image-gaffer {
    width: 135px;
    height: 115px;
  }

  .about__information-table {
    min-width: 580px;
    margin-top: 50px;
  }
  
  .about__inTable-element {
    max-width: 90px;
    padding-right: 45px;
  }
  
  .about__inTable-element h3 {
    font-size: 15px;
    line-height: 20px;
  }

  .about__inTable-element p {
    font-size: 11px;
    line-height: 15px;
  }

  .format {
    margin-bottom: 95px;
  }

  .format__title {
    margin-bottom: 50px;
  }

  .format__information-table {
    min-width: 565px;
  }
  
  .format__inTable-element:first-child {
    max-width: 155px;
    padding-right: 45px;
  }
  
  .format__inTable-element:nth-child(2) {
    max-width: 170px;
    padding-right: 50px;
  }
  
  .format__inTable-element:last-child {
    max-width: 140px;
  }
  
  .format__inTable-element h3 {
    font-size: 15px;
    line-height: 20px;
    color: #1E4681;
  }
  
  .format__inTable-element p {
    font-size: 11px;
    line-height: 14px;
  }

  .learn {
    margin-bottom: 95px;
  }
  
  .learn__title {
    margin-bottom: 10px;
    
  }

  .learn__list-item {
    font-size: 14px;
    line-height: 21px;
    padding-left: 5px;
  }

  .learn__list-item::before {
    content: "";
    width: 3px;
    height: 3px;
    margin-top: 8px;
  }

  .program {
    margin-bottom: 95px;
  }
  
  .program__title {
    margin-bottom: 55px;
  }
  
  .program__box {
    min-width: 735px;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 35px;
  }
  
  .program__box-element {
    min-width: 230px;
    min-height: 190px;
  } 
  
  .program__box-element-header {
    min-height: 90px;
    margin-bottom: 10px;
  }
  
  .program__box-element-description {
    min-width: 210px;
    font-size: 14px;
    line-height: 18px;
    padding: 0 10px 20px 15px;
  }
  
  .program__box-element-description h3 {
    font-size: 17px;
    line-height: 21px;
    margin-bottom: 15px;
  }

  .comment {
    min-height: 450px;
  }
  
  .comment__title {
    max-width: 570px;
    padding-top: 50px;
    margin-bottom: 20px;
  }
  
  .comment__content {
    max-width: 460px;
    min-height: 260px;
    max-height: 260px;
    font-size: 12px;
    line-height: 18px;
    padding: 25px 25px 0 25px;
  }
  
  .comment__content p {
    max-width: 405px;
    margin-bottom: 5px;
  }

  .comment__photo {
    width: 110px;
    height: 100px;
    margin-top: 30px;
  }
  
  .comment__autor {
    display: inline-block;
    position: relative;
    top: -20px;
  }
  
  .comment__autor-name {
    font-size: 17px;
    line-height: 17px;
    margin-bottom: 10px;
  }
  
  .comment__autor-fb {
    width: 18px;
    height: 18px;
  }

  .start {
    padding-top: 95px;
    padding-bottom: 25px;
  }
  
  .start__title {
    padding-bottom: 30px;
  }
  
  .start__price {
    font-size: 14px;
    line-height: 14px;
    padding-bottom: 50px;
  }
  
  .start__price span {
    font-size: 46px;
    line-height: 46px;
    padding-top: 5px;
    padding-bottom: 10px;
  }
  
  .start__info {
    min-width: 400px;
  }
  
  .start__info-element {
    max-width: 170px;
    padding-right: 40px;
  }
  
  .start__info-element h3 {
    font-size: 14px;
    line-height: 14px;
    padding-bottom: 5px;
  }
  
  .start__info-element p {
    font-size: 10px;
    line-height: 10px;
  }

  .footer {
    position: relative;
    min-height: 225px; 
    padding-top: 30px;
  }

  .footer__logo {
    width: 65px;
    height: 40px;
  }
  
  .footer__contacts {
    font-size: 14px;
    line-height: 14px;
    padding-right: 35px;
  }

  .footer__contacts img {
    width: 15px;
    height: 15px;
  }

  .footer__contacts .email img {
    height: 10px;
  }
  
  .footer__contacts .phone {
    padding-bottom: 1px;
  }
  
  .footer__social {
    margin-top: 15px;
  }

  .footer__social-elem {
    width: 20px;
    height: 20px;
    padding-right: 10px;
  }
  
  .copyright {
    position: absolute;
    bottom: 10px;
    font-size: 10px;
    line-height: 10px;
  }
}

@media (max-width: 375px) {
  .container {
    min-width: 375px;
  }

  .title {
    font-size: 26px;
    line-height: 26px;
  }

  .header {
    max-width: 310px;
    max-height: 525px;
    padding-bottom: 30px;
    margin-bottom: 150px;
  }

  .header__logo {
    width: 52px;
    height: 30px;
    margin-bottom: 45px;
  }

  .header__information-element {
    font-size: 10px;
    padding-right: 25px;
  }

  .header__information-element img {
    width: 10px;
    height: 10px;
  }

  .header__title {
    max-width: 290px;
    font-size: 37px;
    margin-bottom: 37px;
  }

  .header__description {
    max-width: 210px;
    font-size: 10px;
    line-height: 15px;
    margin-bottom: -30px;
  }
  
  .header__image-producer {
    width: 175px;
    height: 205px;
    margin-left: 180px;
    margin-top: 50px;
  }

  .header__comment {
    position: static;
    max-width: 225px;
    min-height: 95px;
    font-size: 11px;
    line-height: 14px;
    margin-top: 40px;
  }

  .header__comment p {
    max-width: 200px;
    padding: 5px 7px 20px 7px;
  }

  .header__comment span {
    position: static; 
    float: right;
    font-size: 10px;
    line-height: 13px;
    padding-top: 20px;
  }

  .about {
    padding-bottom: 45px;
  }

  .about__title {
    margin-bottom: 8px;
  }

  .about__description {
    max-width: 310px;
    min-height: 175px;
    font-size: 12px;
    line-height: 18px;
  }

  .about__description p:first-child {
    margin-bottom: -30px;
  }

  .about__image-cameraman {
    position: static;
    width: 170px;
    height: 160px;
    margin-top: -75px;
    margin-left: 25%;
    margin-bottom: 0px;
  }

  .about__image-gaffer {
    display: none;
  }

  .about__information-table {
    min-width: 205px;
    margin-top: 75px;
  }
  
  .about__inTable-element {
    max-width: 85px;
    padding-right: 33px;
  }
  
  .about__inTable-element h3 {
    font-size: 12px;
    line-height: 15px;
  }

  .about__inTable-element p {
    font-size: 10px;
    line-height: 13px;
  }

  .format {
    margin-bottom: 45px;
  }

  .format__title {
    margin-bottom: 15px;
  }

  .format__information-table {
    min-width: 180px;
  }

  .format__inTable-element {
    display: block;
  }
  
  .format__inTable-element:first-child {
    max-width: 180px;
    padding-right: 0px;
    padding-bottom: 10px;
  }
  
  .format__inTable-element:nth-child(2) {
    max-width: 165px;
    padding-right: 0px;
    padding-bottom: 10px;
  }
  
  .format__inTable-element:last-child {
    max-width: 160px;
  }

  
  .format__inTable-element h3 {
    font-size: 12px;
    line-height: 15px;
  }
  
  .format__inTable-element p {
    font-size: 10px;
    line-height: 13px;
  }

  .learn {
    margin-bottom: 45px;
  }
  
  .learn__title {
    margin-bottom: 10px;
  }
  
  .learn__list-item {
    font-size: 12px;
    line-height: 18px;
    padding-left: 5px;
  }

  .learn__list-item::before {
    content: "";
    width: 3px;
    height: 3px;
    margin-top: 7px;
    margin-right: 5px;
  }

  .program {
    margin-bottom: 45px;
  }
  
  .program__title {
    margin-bottom: 35px;
  }
  
  .program__box {
    min-width: 185px;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 25px;
    margin-left: 15%;
  }
  
  .program__box-element {
    max-width: 185px;
    max-height: 150px;
  } 
  
  .program__box-element-header {
    min-height: 85px;
    margin-bottom: 5px;
  }
  
  .program__box-element-description {
    max-width: 185px;
    font-size: 12px;
    line-height: 15px;
    padding: 0 5px 0px 7px !important;
  }
  
  .program__box-element-description h3 {
    font-size: 14px;
    line-height: 18px;
    margin-bottom: 15px;
  }

  .comment {
    min-height: 425px;
    background-color: #EFEFEF;
  }
  
  .comment__title {
    max-width: 250px;
    padding-top: 40px;
    margin-bottom: 10px;
  }
  
  .comment__content {
    max-width: 310px;
    min-height: 250px;
    max-height: 250px;
    font-size: 10px;
    line-height: 15px;
    padding: 20px 20px 0 20px;
  }
  
  .comment__content p {
    max-width: 265px;
    margin-bottom: 5px;
  }

  .comment__photo {
    width: 85px;
    height: 85px;
    margin-bottom: 25px;
  }
  
  .comment__autor {
    top: -50px;
  }
  
  .comment__autor-name {
    font-size: 14px;
    line-height: 14px;
    margin-top: 85px;
    margin-bottom: 10px;
  }
  
  .comment__autor-fb {
    width: 15px;
    height: 15px;
  }

  .start {
    padding-top: 45px;
    padding-bottom: 15px;
  }
  
  .start__title {
    max-width: 225px;
    padding-bottom: 20px;
  }
  
  .start__price {
    font-size: 12px;
    line-height: 12px;
    padding-bottom: 25px;
  }
  
  .start__price span {
    font-size: 37px;
    line-height: 37px;
    padding-top: 5px;
    padding-bottom: 5px;
  }
  
  .start__info {
    min-width: 320px;
    padding-bottom: 65px;
  }
  
  .start__info-element {
    max-width: 140px;
    padding-right: 30px;
  }
  
  .start__info-element h3 {
    font-size: 12px;
    line-height: 12px;
    padding-bottom: 5px;
  }
  
  .start__info-element p {
    font-size: 10px;
    line-height: 10px;
  }

  .footer {
    position: relative;
    min-height: 250px; 
    padding-top: 25px;
  }

  .footer__logo {
    width: 55px;
    height: 30px;
  }
  
  .footer__contacts {
    position: absolute;
    top: 155px;
    float: none;
    font-size: 12px;
    line-height: 12px;
    padding-right: 0px;
  }

  .footer__contacts img {
    width: 12px;
    height: 12px;
    padding-right: 10px;
  }

  .footer__contacts .email img {
    height: 8px;
  }
  
  .footer__contacts .phone {
    padding-bottom: 10px;
  }
  
  .footer__social {
    margin-top: 15px;
  }

  .footer__social-elem {
    width: 15px;
    height: 15px;
    padding-right: 8px;
  }
  
  .copyright {
    position: absolute;
    bottom: 20px;
    font-size: 10px;
    line-height: 10px;
  }
}